# Virtual environments
.venv/
env/
venv/

# Environment variables
.env

# Editor settings
.vscode/

# Python bytecode / cache
__pycache__/
*.pyc
*.pyo
*.pyd

# OS junk
.DS_Store
Thumbs.db